<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Личный сайт Павла Бойко</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Личный сайт Павла Бойко">
    <meta name="author" content="Павел Бойко">
</head>
<body>
    <h1>Приветствую на своём сайте!</h1>
    <p>Привет!</p>
    <ul>
        <li><a href="skills/">Умения</a></li>
        <li><a href="tools/">Инструменты</a></li>
        <li><a href="http://sources.boykos.loc/" target="_blank">Второй проект</a> </li>
    </ul>
</body>
</html>